<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Footer</title>
<link rel="stylesheet" data-th-href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
</head>
<body>

	<footer data-th-layouts="footer" class="container">
		<ul>
			<li>Dirección:<a
				href="https://search.brave.com/search?q=google+maps+facultad+de+ingenieria+jujuy&spellcheck=0&source=alteredQuery&map_src=infobox&loc_id=0&tgt=map"
				target="_blank"> Ing. Mario Italo Palanca 10, Y4600 San Salvador de Jujuy</a></li>
			<li>Teléfono: <a
				href="https://fi.unju.edu.ar/servicios/telefonos.html"
				target="_blank">Teléfonos De FIUNJu habilitados desde el 1 de
					marzo</a></li>
			<li>Correo electrónico: info@fi.unju.edu.ar</li>
		</ul>

		<div id="contactos" class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="card" style="width: 18rem;">
						<img src="img/redesFI.png" class="card-img-top" alt="FI-Facebook">
						<div class="card-body">
							<h5 class="card-title">Facebook Facultad de Ingenieria</h5>
							<p class="card-text">
								Página · Universidad <br>Ítalo Palanca 10, San Salvador de
								Jujuy, Argentina <br>info@fi.unju.edu.ar <br>fi.unju.edu.ar
							</p>
							<a href="https://www.facebook.com/fiunju/"
								class="btn btn-primary">Facebook</a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card" style="width: 18rem;">
						<img src="img/redesFI.png" class="card-img-top" alt="FI-Instagram">
						<div class="card-body">
							<h5 class="card-title">Instragram Facultad de Ingenieria</h5>
							<p class="card-text">
								Facultad de Ingeniería (UNJu) <br>🏛Cuenta oficial de la
								Facultad de Ingeniería-UNJu <br>🤵Decano: Ing. Luis A.
								Vargas <br>👩‍💼Vicedecana: Ing. Maria E. Alfaro <br>📌Ítalo
								Palanca N.10- S.S. de Jujuy
							</p>
							<a href="https://www.instagram.com/fiunju/"
								class="btn btn-primary">Instragram</a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card" style="width: 18rem;">
						<img src="img/redesFI.png" class="card-img-top" alt="FI-Youtube">
						<div class="card-body">
							<h5 class="card-title">Youtube Facultad de Ingenieria</h5>
							<p class="card-text">
								Canal oficial de la Facultad de Ingeniería de la Universidad
								Nacional de Jujuy <br>3.21 K suscriptores <br>613
								videos <br>315,625 vistas <br>Se unió el 10 jun 2015
							</p>

							<a
								href="https://www.youtube.com/channel/UCgS9XJlKKSYI1oJ4lIOo77A"
								class="btn btn-primary">Youtube</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<br>
		<p>Derechos de autor &copy; 2024. Todos los derechos reservados.</p>


	</footer>
	
	<script data-th-src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>