@charset "UTF-8";

.carousel-indicators button {
            background-color: black;
        }
        .carousel-control-prev-icon,
        .carousel-control-next-icon {
            background-color: black;
        }
        h1{
        text-align: center;
        color: white;
        text-overflow: ellipsis;
        font-family:fantasy;
        
        padding:20px;
        margin:30px;
        background-color: black;
        }
		
		h3{
        text-align: center;
        color: white;
        text-overflow: ellipsis;
        font-family:fantasy;
        
        padding:10px;
        margin:20px;
        background-color: black;
        }
		
		footer{
		color: white;
		margin:20px;
		padding:20px;
		background-color: black;
		text-align: center;
		}


