<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Formulario Docente</title>
<link rel="stylesheet" data-th-href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
<link rel="stylesheet" href="/css/styles.css"></link>

</head>


<body>
	
	<header data-th-replace="~{layouts/header :: header}"></header>

	<div class="container">
		<h1>Formulario De Docente</h1>
		<form data-th-object="${nuevoDocente}"
			data-th-action="${band}?@{/modificarDocente}:@{/guardarDocente}"
			method="post">

			<div class="form-floating mb-3">
				<input type="text" class="form-control" id="nombre"
					data-th-field="*{nombre}"
					placeholder="Ingrese El Nombre Del Docente" required> <label
					for="nombre">Nombre del Docente</label>
			</div>

			<div class="form-floating mb-3">
				<input type="text" class="form-control" id="apellido"
					data-th-field="*{apellido}"
					placeholder="Ingrese El apellido Del docente" required> <label
					for="apellido">Apellido del Docente</label>
			</div>

			<div class="form-floating mb-3">
				<input type="number" class="form-control"
					placeholder="Ingrese El legajo Del Docente"
					data-th-field="*{legajo}" id="legajo" required
					data-th-readonly=${band}> <label for="legajo">legajo
					del Docente</label>
			</div>

			<div class="form-floating mb-3">
				<input type="email" class="form-control" id="email"
					data-th-field="*{email}"
					placeholder="Ingrese El Email Del Docente" > <label
					for="email">Email del Docente</label>
			</div>

			<div class="form-floating mb-3">
				<input type="number" class="form-control"
					placeholder="Ingrese el Telefono Del Docente"
					data-th-field="*{telefono}" id="telefono" required> <label
					for="telefono">Telefono Del Docente</label>
			</div>
			
			

			<button type="submit" class="btn btn-primary">Guardar
				Docente</button>
		</form>
	</div>





	<footer data-th-replace="~{layouts/footer :: footer}"></footer>
	
	<script data-th-src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
	
</body>
</html>