<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">


<head>
<meta charset="UTF-8">
<title>Trabajo Practico 4</title>
<link rel="stylesheet" data-th-href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/styles.css"></link>


</head>


<body>
	
	
	<header data-th-replace="~{layouts/header :: header}"></header>
	
	
	<div class="row container">
	
		<main class="col-md-9">
			
			
			<h3>Facultad de Ingeniería de la Universidad Nacional de Jujuy</h3>
			<div class="accordion" id="accordionPanelsStayOpenExample">
			
				  <div id="inicio" class="accordion-item">
				  
				    <h2 class="accordion-header">
				      <button  class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
				        Inicio
				      </button>
				    </h2>
				    
				    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
				      <div class="accordion-body">
				      	<p>La Facultad de Ingeniería de la Universidad Nacional de Jujuy (<a href="https://unju.edu.ar/" target="_blank">UNJu</a>) fue fundada el 24 de mayo de 1972, marcando el comienzo de una institución comprometida con la formación académica y profesional en el ámbito de la ingeniería. Esta fecha es significativa porque representa el inicio de una larga tradición de educación y desarrollo en la región, especialmente en áreas tecnológicas y científicas cruciales para el progreso local y nacional​ (<a href="https://es.wikipedia.org/wiki/Universidad_Nacional_de_Jujuy" target="_blank">Wikipedia, la enciclopedia libre</a>)​​ (<a href="https://unjuradio.com/2022/05/04/se-presento-el-libro-construyendo-la-historia-de-la-universidad-nacional-de-jujuy/" target="_blank">UNJu Radio</a>)​.</p>
				      </div>
				    </div>
				  </div>
				  
				  <div id="acercaDe"   class="accordion-item">
				    <h2 class="accordion-header">
				      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true" aria-controls="panelsStayOpen-collapseTwo">
				        Acerca De
				      </button>
				    </h2>
				    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show">
				      <div class="accordion-body">
				        <p>La Facultad de Ingeniería de la UNJu está ubicada en Av. Ítalo Palanca 10, San Salvador de Jujuy. Su misión es proporcionar una educación de alta calidad en ingeniería, fomentar la investigación y el desarrollo tecnológico, y contribuir activamente al bienestar de la comunidad. La facultad se destaca por su compromiso con la excelencia académica y su capacidad para adaptarse a las necesidades cambiantes del mercado laboral y de la sociedad.</p>
				        <p>La facultad también celebra regularmente eventos académicos, seminarios y conferencias, promoviendo la interacción entre estudiantes, docentes y profesionales de la industria. Estas actividades fomentan un ambiente de aprendizaje dinámico y colaborativo, que es esencial para el crecimiento profesional y personal de sus alumnos y egresados​​.</p>
				        
				      </div>
				    </div>
				  </div>
				  
				  <div id="carreras" class="accordion-item">
				    <h2 class="accordion-header">
				      <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="true" aria-controls="panelsStayOpen-collapseThree">
				        Carreras
				      </button>
				    </h2>
				    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show">
				      <div class="accordion-body">
				      		<p>La Facultad de Ingeniería de la Universidad Nacional de Jujuy (UNJu) ofrece diversas carreras tanto de grado como tecnicaturas universitarias en el campo de la ingeniería y las ciencias aplicadas. Las principales carreras de grado incluyen:</p>  
					        <p>Carreras</p>
					        <ul>
					            <li>Ingeniería Química</li>
					            <li>Ingeniería de Minas</li>
					            <li>Ingeniería Industrial</li>
					            <li>Ingeniería Informática</li>
					            <li>Licenciatura en Sistemas</li>
					            <li>Licenciatura en Tecnología de los Alimentos</li>
					            <li>Licenciatura en Ciencias Geológicas</li>
					        </ul>
					        <p>Tecnicaturas</p>
					        <ul>
					            <li>Analista Programador Universitario</li>
					            <li>Tecnicatura Universitaria en Ciencias de la Tierra</li>
					            <li>Tecnicatura Universitaria en Procesamiento de Minerales</li>
					            <li>Tecnicatura Universitaria en Perforaciones</li>
					            <li>Tecnicatura Universitaria en Explotación de Minas</li>
					        </ul>
				        	
				      </div>
				    </div>
				  </div>
				  
				  <div id="noticias" class="accordion-item">
				    <h2 class="accordion-header">
				      <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="true" aria-controls="panelsStayOpen-collapseFour">
				        Noticias
				      </button>
				    </h2>
				    <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse show">
				      <div class="accordion-body">
				        
				        <p>La Facultad de Ingeniería de la UNJu se mantiene activa con diversas noticias y eventos relevantes para la comunidad académica y profesional. Algunos de los aspectos destacados incluyen:</p>
				        <ul>
				            <li>Aniversarios y Celebraciones: La facultad celebra sus aniversarios con actividades académicas y sociales, destacando su historia y evolución.</li>
				            <li>Investigaciones y Proyectos: Colaboraciones con el Instituto de Biología de la Altura (INBIAL) y el Instituto de Estudios Celulares, Genéticos y Moleculares (ICeGeM).</li>
				            <li>Conferencias y Seminarios: Organización de seminarios y conferencias para el intercambio de conocimientos entre estudiantes, docentes y profesionales.</li>
				            <li>Colaboraciones y Convenios: Alianzas estratégicas con instituciones educativas y empresas para promover el desarrollo tecnológico y científico.</li>
				        </ul>
				        
				        <p>Mas noticias en la pagina: <a href="https://www.fi.unju.edu.ar/noticias/historial.html" target="_blank">www.fi.unju.edu.ar</a>.</p>
				        
				      </div>
				    </div>
				  </div>
				  
			</div>
			
		</main>
	
		<aside class="col-md-3">
			
			<ul class="list-group" >
			  <li class="list-group-item">Enlaces A Paginas De la Facultad</li>
			  <li class="list-group-item">
			    <a href="https://www.fi.unju.edu.ar/servicios/biblioteca.html" target="_blank">
			      <img class="img-fluid" alt="biblioteca Facultad De Ingenieria" src="img/biblFI.jpg">
			    </a>
			  </li>
			  <li class="list-group-item">
			    <a href="https://www.fi.unju.edu.ar/secretarias/sec-academica/calendario-academico.html" target="_blank">Calendario Academico</a>
			  </li>
			  <li class="list-group-item">
			    <a href="https://www.unju.edu.ar/comedor.html" target="_blank">Comedor Universitario</a>
			  </li>
			  <li class="list-group-item">
			    <a href="https://www.fi.unju.edu.ar/servicios/logos.html" target="_blank">Logros De La Facultad De Ingenieria</a>
			  </li>
			  
			</ul>
		</aside>
		
	</div>

	
	
	<footer data-th-replace="~{layouts/footer :: footer}"></footer>

	<script data-th-src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>


</html>